/*
 * CSS tracker page.
 * @author Mariano Ruiz
 */

html, body {
	height: 100%;
}

body {
	font-family: 'Lucida Sans', Helvetica, sans-serif;
	margin: 0px;
	padding: 0px;
	background-color: #eee;
}

#wrap {
	min-height: 100%;
	width: 100%;
}

#main {
	overflow: auto;
	padding-bottom: 25px;
	background-color: #eee;
}  /* Must be same height as the footer */

#configuration {
	margin: 25px;
	padding: 20px;
	background-color: #fff;
	border-radius: 4px;
	-moz-border-radius: 4px;
}

#log {
	margin: 25px;
	padding: 20px;
	background-color: #fff;
	border-radius: 4px;
	-moz-border-radius: 4px;
}

#header {
	color: #000;
	background-color: #dbe9f9;
	padding: 0px;
}

#header h1 {
	font-size: 1.4em;
	margin: 0px;
}

#footer {
	position: relative;
	margin-top: -25px; /* Negative value of footer height */
	height: 25px;
	clear: both;
	padding-left: 10px;
	padding-right: 10px;
}

#footer span {
	font-family: Helvetiva, sans-serif;
	font-size: 0.7em;
}

#back-link {
	float: left;
	padding-left: 5px;
	font-size: 1.2em;
}

#copyright {
	float: right;
	padding-right: 5px;
}

.clear {
	clear: both;
}

#filterContainer {
	padding-top: 5px;
	padding-bottom: 5px;
	width: 100%;
}

#filterTextContainer {
	width: 8%;
	float: left;
	vertical-align: middle;
	font-weight: bold;
}

#filterTextContainer p {
	margin: 0px;
	padding: 0.7em;
}

#filterInputContainer {
	width: 92%;
	float: right;
	text-align: right;
}

input#filter {
	width: 98%;
	height: 2em;
	font-size: 1.1em;
	font-family: Helvetica, sans-serif;
	font-weight: bold;
	padding-left: 5px;
	border: 1px solid #ccc;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2) inset;
	vertical-align: middle;
}

input#filter:focus {
	background: none repeat scroll 0 0 #eff9ff;
	border: 1px solid #0061a5;
}

#loggersContainer {
	margin-top: 20px;
}

/*table {
	border-collapse: separate;
	border-spacing: 2px;
}*/

label {
	width: 100%;
	cursor: pointer;
}

table[border=0] {
	border-width: 0px;
}

table[cellspacing=0] {
	border-spacing: 0px;
}

thead {
	display: table-header-group;
	vertical-align: middle;
	border-color: inherit;
}

tbody {
	display: table-row-group;
	vertical-align: middle;
	border-color: inherit;
}

td, th {
	display: table-cell;
}

table#loggers thead {
	background-color: #a4c6ee;
}

table#loggers thead tr th, table#loggers tbody tr td {
	border-right: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	padding: 3px;
}

table#loggers {
	width: 100%;
}

table#loggers th {
	font-size: 0.9em;
	text-align: center;
	height: 2.2em;
}

table#loggers tr.logger-odd:hover, table#loggers tr.logger-pair:hover {
	background-color: #dbe9f9;
}

table#loggers tr.logger-pair {
	background-color: #fbfbfb;
}

table#loggers td {
	font-family: Tahoma, "Lucida Sans", Helvetica, sans-serif;
	font-size: 0.8em;
	white-space: nowrap;
}

table#loggers tbody tr td.logger-name {
	padding-left: 10px;
	padding-right: 10px;
	border-left: 1px solid #ccc;
}

table#loggers .logger-level {
	text-align: center;
}

input:hover {
	background-color: #fcfcfc;
}

#navcontainer {
	border-bottom: 1px solid #ccc;
	background: #dbe9f9;
	height: 33px;
	width: 100%;
	margin: 0px auto 10px auto;
}

#navlist {
	padding: 10px 0 3px;
	font: bold 14px Tahoma, Helvetica, sans-serif;
	margin: 0px;
}

#navlist > li {
	list-style: none;
	margin: 0;
	float: left;
	position: relative;
}

#navlist > li > a:link, #navlist > li > a:active, #navlist > li > a:visited {
	color: white;
}

#navlist > li > a {
	padding: 6px 8px;
	margin-left: 12px;
	border-bottom: none;
	background: #a4c6ee;
	text-decoration: none;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
}

#navlist > li > a:hover {
	color: white;
	background: #3165a4;
}

#navlist li a.active {
	font-style: normal;
	background: #f1f2ec;
	border: 1px solid #ccc;
	border-bottom: 2px solid #f1f2ec;
	color: #c00;
}

#navlist li.disabled a:hover {
	border: none;
	padding: 4px 6px;
	cursor: default;
}

#navlist li.disabled a:link,#navlist li.disabled a:active,#navlist li.disabled a:visited {
	color: #999;
}

#navlist > li .sub {
	position: absolute;
	border:1px solid #ccc;
	border-top:none;
	margin:6px 0 0 12px;
}

.sub li {
	list-style: none;
	display:block;
	padding:5px;
	margin-left:-40px;
}

.sublabel {
	padding: 0
}

.sublabel span {
	color: #000;
	font-weight: bold;
}

a:link, a:visited, a:active {
	text-decoration: none;
	outline: none;
}

textarea {
	font-family: "Consolas", "Lucida Console", monospace;
	font-size: 0.8em;
	width: 100%;
	/*height: 40%;*/
	resize: both;
	padding: 4px;
}

select, button, input[type="checkbox"] {
	cursor: pointer;
}

#options {
	height: 2em;
}

#options div {
	font-size: 0.8em;
	margin-bottom: 15px;
}

#loading-mask {
	font-family: Helvetica, serif;
	font-weight: bold;
	margin: 0 45%;
	text-align: center;
	vertical-align: middle;
	height: 2em;
	background-color: #ffec4d;
	border-radius: 3px;
	-moz-border-radius: 3px;
	padding-top: 0.7em;
}

#loading-mask.error {
	color: #fff;
	background-color: #ff9362;
	margin: 0 38%;
}

#download {
	margin-left: 8px;
}

#appender {
	margin-right: 5px;
}
